* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background: url(../img/images/Background.png) no-repeat center top;
	background-size: cover;
}

.all {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(38,123,184,.2);
}

/*******************************************************/
/*********************** HEADER ************************/
/*******************************************************/

.header {
	z-index: 1;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-family: 'Michroma', sans-serif;
	padding: 0 2.5%;
}

.header .logo {
	float: left;
	font-size: 20px;
}

.header a {
	color: #fff;
}

.header .logo span {
	font-size: 30px;
}

.header .menu {
	float: right;
}

.header .menu li {
	display: inline-block;
}

.header .menu a li {
	color: #fff;
	top: 0;
	right: 12%;
	position: fixed;
	padding: 0 5px;
	transition: all .3s;
}

.header .menu a li:hover {
	color: #29ABE2;
}

.header .menu a li:active {
	transform: scale(1.1);
}

.header .menu .lang {
	width: 70px;
	height: 97px;
	padding: 10px 20px;
}

.levels {
	top: 70px;
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/

.footer {
	bottom: 0;
	width: 100%;
	height: 10%;
	position: fixed;
}

.footer input {
	margin: 1% 5% 1% 2.5%;
	width: 91%;
	height: 60%;
	font: 20px 'Berkshire Swash';
	padding-left: 10px;
	border-radius: 5px 0 0 5px;
	border: 2.5px solid transparent;
	color: #222;
}

.footer input:focus {
	border: 2.5px solid #1ded7e;
}

.footer .generate {
	position: absolute;
	height: 60%;
	width: 4%;
	background: #1ded7e;
	right: 2.5%;
	margin-top: 1%;
	border-radius: 0 5px 5px 0;
}

.footer .generate img {
	height: 90%;
	width: 100%;
	margin-top: 5%;
	cursor: pointer;
}